{% extends "layout.html" %}
{% block body %}
<br>
<div class = "mx-auto">

<h3 class="mx-auto" style="padding: left 50px;
px!important;
padding: 35px;
padding-top: 53px;
margin-top: 20px;
width: 275px;
height: 150px;
font-size: 1.75rem;
background-image: url('static/photos/cl2.png');
z-index: 5;
background-size: 280px 130px;
background-repeat: no-repeat;
text-align-last: center;
font-family: 'Dancing Script', cursive;">ABOUT ME</h3>  </div>
<hr>
<h3 class= "mx-auto justify-content-center text-center" style = "font-family: 'Dancing Script', cursive;">HELLO UNIVERSE ! I'M ÇAĞLA GÜRCER</h3>
<a><img class="rounded mx-auto d-block" src="/static/photos/yo.jpg" style= "width:384px;height:521x;"></a>
<hr>
<a><img class="rounded mx-auto d-block" src="/static/photos/lang.png" style= "width:384px;height:521x;"></a>
<hr>

<div class = "row" style= "padding-left: 729px;"><a href="https://www.instagram.com/caglagurcr/"  class="card-link" target="_blank"><img class="rounded d-block" src="/static/photos/insta.png" style= "width:55px;height:55x;"></a>
<a href="https://www.linkedin.com/in/çağla-gürcer-5b983b239/"  class="card-link" target="_blank"><img class="rounded d-block" src="/static/photos/link.png" style= "width:55px;height:55x;"></a>
<a href="https://github.com/caglagurcer"  class="card-link" target="_blank"><img class="rounded d-block" src="/static/photos/github.png" style= "width:50px;height:50x;"></a>
<a href="https://medium.com/@caglagurcer"  class="card-link" target="_blank"><img class="rounded d-block" src="/static/photos/medium.png" style= "width:50px;height:50x;"></a>
</div>

<hr>

<h3 class= "mx-auto justify-content-center text-center" style = "font-family: 'Dancing Script', cursive;">CONTACT ME</h3>

<a href="https://mail.google.com/mail/u/0/#compose"  class="card-link" target="_blank"><img 
class="mx-auto" src="/static/photos/mail.png" style = "padding-left: 826px;"></a>

{% endblock  %}