{% extends "layout.html" %}
{% block body %}
<br>
<div class = "mx-auto">

<h3 class="mx-auto" style="padding-left:40px!important;padding: 35px;padding-top: 53px;margin-top: 20px;width: 275px;height: 150px; font-size: 1.65rem;background-image: url('static/photos/cl4.png'); z-index: 5; background-size: 280px 130px;background-repeat: no-repeat;text-align-last: center;font-family: 'Dancing Script', cursive;">ARTICLES</h3>  </div>
<hr>
<h3 class= "mx-auto justify-content-center text-center">The Fastest Way to Change Your Life</h3>
<br>
<a href="https://medium.com/@caglagurcer/the-fastest-way-to-change-your-life-eb79f55e78c7"  class="card-link" target="_blank"><img class="rounded mx-auto d-block" src="/static/photos/ar1.jpeg" style= "width:384px;height:521x;" class="img-fluid certificates" alt="Responsive image"></a>
{% endblock body %}