{% extends "layout.html" %}
{% block body %}
<div class = "mx-auto">
<br>
<h3 class="mx-auto" style="padding-left:55px!important;padding: 35px;padding-top: 53px;margin-top: 20px;width: 275px;height: 150px; font-size: 1.75rem;background-image: url('static/photos/cl.png'); z-index: 5; background-size: 280px 130px;background-repeat: no-repeat;text-align-last: center;font-family: 'Dancing Script', cursive;">CERTIFICATES</h3>  </div>
<hr>
<div  style="padding-left: 140px;padding-right: 140px;"> 
   <div class="row" >
    <a href="/static/photos/7.png" target="_blank"><img src="/static/photos/7.png" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a>   
    <a href="/static/photos/6.png" target="_blank"><img src="/static/photos/6.png" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a>   
    <a href="/static/photos/9.png" target="_blank"><img src="/static/photos/9.png" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a>   
 </div>
 <div class="row">
    <a href="/static/photos/1.jpg" target="_blank"><img src="/static/photos/1.jpg" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a> 
    <a href="/static/photos/5.jpg" target="_blank"><img src="/static/photos/5.jpg" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a>  
    <a href="/static/photos/8.png" target="_blank"><img src="/static/photos/8.png" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a> 
    
 </div>
 <div class="row">
    <a href="/static/photos/4.jpg" target="_blank"><img src="/static/photos/4.jpg" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a>   
    <a href="/static/photos/2.jpg" target="_blank"><img src="/static/photos/2.jpg" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a> 
    <a href="/static/photos/3.jpg" target="_blank"><img src="/static/photos/3.jpg" style= "margin-left: 76px;width:366px;height:249px;" class="img-fluid certificates" alt="Responsive image"></a>
 </div>
 
</div>
    
{% endblock body %}