{% extends "layout.html" %}
{% block body %}
<div class = "mx-auto">
<br>
<h3 class="mx-auto" style="padding-left:45px!important;
padding: 35px;
padding-top: 53px;
margin-top: 20px;
width: 275px;
height: 150px;
font-size: 1.75rem;
background-image: url('static/photos/cl3.png');
z-index: 5; 
background-size: 280px 130px;
background-repeat: no-repeat;text-align-last: center;
font-family: 'Dancing Script', cursive;
">PROJECTS</h3>  </div>
<hr>
<div class="box" style= "background: rgb(167, 214, 233);
    padding: 1em;
    width: 50%;
    margin: 1em auto 2em;
    outline: 5px solid rgb(167, 214, 233);
    outline-offset: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.75rem;
    "> 
    <h3 class= "mx-auto justify-content-center text-center">THIS WEBSITE</h3>
    <a href="https://github.com/caglagurcer/Flask-Todo-App"  class="card-link" target="_blank"><img class="rounded mx-auto d-block" src="/static/photos/po.png" style= "width:480px;height:900x;" class="img-fluid certificates" alt="Responsive image"></a></div></div>
    

<div class="box" style= "background: rgb(167, 214, 233);
    padding: 1em;
    width: 50%;
    margin: 1em auto 2em;
    outline: 5px solid rgb(167, 214, 233);
    outline-offset: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.75rem;
    "> 
    <h3 class= "mx-auto justify-content-center text-center">BLOG WEBSITE</h3>
    <a href="https://github.com/caglagurcer/Python-Website"  class="card-link" target="_blank"><img class="rounded mx-auto d-block" src="/static/photos/WBS.png" style= "width:480px;height:900x;" class="img-fluid certificates" alt="Responsive image"></a></div></div>

<div class="box" style= "background: rgb(167, 214, 233);
    padding: 1em;
    width: 50%;
    margin: 1em auto 2em;
    outline: 5px solid rgb(167, 214, 233);
    outline-offset: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.75rem;
    "> 
    <h3 class= "mx-auto justify-content-center text-center">FLASK TODO APP</h3>
    <a href="https://github.com/caglagurcer/Flask-Todo-App"  class="card-link" target="_blank"><img class="rounded mx-auto d-block" src="/static/photos/todo.png" style= "width:480px;height:900x;" class="img-fluid certificates" alt="Responsive image"></a></div>

{% endblock body %}