<nav class="navbar-custom navbar navbar-expand-md navbar-dark fixed-top footer">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    
  </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </li>
              <li class="nav-item active">
                <a class="nav-link" href="/articles">Articles</a>
              </li>
              
                <li class="nav-item active">
                  <a class="nav-link" href="/projects">Projects</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="margin-left: 35px">
            <li class="nav-item active"><a class="navbar-brand" href="/">CAGLA GURCER</a></li>
            </ul>
          <ul class="navbar-nav ml-auto justify-content-end">
              <li class="nav-item active">
                <a class="nav-link" href="/about">About Me</a>
              <li class="nav-item active">
                <a class="nav-link" href="/certificates">Certificates</a>
              </li>
              

          </div>


    </nav> 